body {
  font-family: "Inter";
  background-color: #333;
  /* overflow: hidden; */
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__item {
  width: 416px;
  /* height: 524px; */
  padding-top: 8px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  transition: all 275ms 50ms;
}
.gallery__item:hover {
  transform: scale(1.03);
}
.gallery__item:first-child {
  margin-top: 20px;
}
.gallery__item:last-child {
  margin-bottom: 0;
}
.user {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}
.user::after {
  content: "...";
  display: block;
  font-size: 32px;
  transform: rotate(90deg);
  position: absolute;
  right: 10px;
  color: rgb(83, 100, 113);
}
.user__avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
}
.user__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.post {
  position: relative;
  overflow: hidden;
  width: 416px;
}
.post__img {
  width: 100%;
}
.bottom {
  margin-top: 8px;
  padding-right: 16px;
  padding-left: 16px;
}
.bottom__tags {
  color: rgb(15, 20, 25);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 24px;
}
.reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reactions__item {
  display: flex;
  align-items: center;
}
.reactions__text {
  color: rgb(83, 100, 113);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-left: 8px;
}
.reactions__item img:hover {
  color: red;
}
.load-more__btn {
  margin-top: 30px;
  font-family: "Caveat";
  background-color: #86a97b;
  color: #eee;
  border-radius: 16px;
  width: 160px;
  height: 50px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 275ms 50ms;
  border: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 40px;
}
.load-more__btn:hover {
  outline: 3px solid #86a97b;
  background-color: transparent;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  z-index: -1;
}
.overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.search__input {
  border-radius: 14px;
  width: 270px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  transition: all 250ms 50ms;
}
.search__input:hover {
  box-shadow: 0px 0px 10px 1px rgba(134, 169, 123, 1);
}
.search__input:focus {
  outline: 3.5px solid #86a97b;
}
