:root {
  --var-bgcolor: #fff;
  --var-fontcolor: #000;
}
.isDark {
  --var-bgcolor: #333;
  --var-fontcolor: #eee;
}
body {
  font-family: "Montserrat";
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
  position: relative;
  transition-duration: 300ms;
  transition-delay: 25ms;
  transition-timing-function: ease-in-out;
}
.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  /* outline: solid red; */
  /* @media screen and (min-width: 320px) {
    width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  } */
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 34px;
    padding-left: 34px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
}
section {
  padding-top: 80px;
  height: 100vh;
}
*::selection {
  background-color: #e17992;
}
.switch-block {
  position: absolute;
  top: 10px;
  right: 40px;
}
.switch {
  top: 20px;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input--theme:checked + .slider {
  background-color: #183153;
}

.input--theme:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input--theme:checked + .slider:before {
  transform: translateX(30px);
}

/*? discord */
